@namespace BlazorTool.Client.Components

<button class="reload-data-button" @onclick="OnClickCallback" type="button">
    <span class="icon refresh-icon"></span>
    @ChildContent
</button>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> onclick { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private Task OnClickCallback(MouseEventArgs args)
    {
        return onclick.InvokeAsync(args);
    }
}
