<button onclick="@onclick" class="reload-data-button">
    <span class="icon refresh-icon"></span>
    <span> @ChildContent </span>
</button>

@code {
    [Parameter] public EventCallback onclick { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
